<div class="education-list">
  <div class="education-institution-row">
    <p class="education-institution">{{ site.data.education.institution }}</p>
    <span class="education-location">{{ site.data.education.location }}</span>
  </div>
  {% for entry in site.data.education.entries %}
    <article class="education-entry">
      <div class="education-degree-row">
        <h3>{{ entry.degree }}</h3>
        <time datetime="{{ entry.datetime }}">{{ entry.date }}</time>
      </div>
      {% for detail in entry.details %}<p class="education-secondary">{{ detail }}</p>{% endfor %}
    </article>
  {% endfor %}
</div>
