<a name="header"></a>

<header class="site-header">

  <div class="wrapper">
    {%- if site.logo -%}
    <a href="{{ "/" | relative_url }}"><img class="site-logo" src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}" /></a>
    {%- else -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    {%- endif -%}

    <nav class="site-nav" aria-label="Main navigation">
      <div class="trigger">
        <a class="page-link{% if page.url == '/research/' %} current-page{% endif %}" href="{{ '/research/' | relative_url }}">Research</a>
        <a class="page-link{% if page.url == '/industry/' %} current-page{% endif %}" href="{{ '/industry/' | relative_url }}">Industry</a>
        <a class="page-link{% if page.url == '/projects/' %} current-page{% endif %}" href="{{ '/projects/' | relative_url }}">Projects</a>
        <a class="page-link{% if page.url == '/about/' %} current-page{% endif %}" href="{{ '/about/' | relative_url }}">About</a>
      </div>
    </nav>
  </div>

</header>
