{%- assign cover_path = '/assets/images/' | append: include.item.slug | append: '/cover.webp' -%}{%- assign has_cover = site.static_files | where: 'path', cover_path | first -%}
<li>
{% if has_cover %}<a class="th" href="{{ include.item.url | relative_url }}" tabindex="-1" aria-hidden="true">{% include project-image.html item=include.item %}</a>{% else %}<span></span>{% endif %}
<div><div class="ck">{% include kicker.html item=include.item %}</div><h3 class="item"><a class="t" href="{{ include.item.url | relative_url }}">{{ include.item.title }}</a></h3><p class="small">{{ include.item.summary }}</p></div>
</li>
