$background-color: white; 
$text-color: black; 
$grey-color: #646E78;

::-moz-selection { 
    color: black;
    background: #EFCA08;
}
  
::selection {
    color: black;
    background: #EFCA08;
}

a {
    color: #08415C !important;
}

pre, code {
    border: none !important;
    background-color: #D9DCD6 !important;
}

h2 a {
    color: black !important;
}

h2:after {
    background: #08415C;
}

.site-footer {
    background-color: #08415C;
    color: #D9DCD6 !important;
    a:active, a:hover {
        color:#EFCA08 !important;
    } a {
        color: #D9DCD6 !important;
    }
}

.site-header {
    background-color: #08415C;
    color: #D9DCD6 ;
}

.page-link {
    color: #D9DCD6 !important;
}

.page-link:hover, .page-link:active {
    color:#EFCA08 !important;
}

.current-page {
    color:#EFCA08 !important;
}

.site-footer {
    h2:after {
        background: #EFCA08;
    }
}

.svg-icon {
    fill: #D9DCD6 !important;
    :active, :hover {
        fill: #EFCA08;
    } 
}

@media screen and (max-width: 600px) { .site-nav {
    background-color: #08415C !important;
    .menu-icon > svg {
        fill: #D9DCD6 !important;
    }
    border-color: #D9DCD6 !important;
}}

.banner-text-1 {
    color: #D9DCD6;
    background-color: #08415C;
}

.banner-text-2 {
    color: #EFCA08;
    background-color: #08415C;
}

.post-image {
    background-color: black;
}

.category-badge {
    background-color: #D9DCD6;
    color: black !important;
}

.category-badge:hover, .category-badge:active {
    background-color: #EFCA08;
}

.post-meta {
    color: #646E78 !important;
}
