/*
    black: #000000
    light gray: #D9DCD6
    yellow: #EFCA08
    dark blue: #08415C
    dark gray: #646E78
*/

$background-color: white; 
$text-color: black; 
$grey-color: #646E78;

::-moz-selection { 
    color: black;
    background: #EFCA08;
}
  
::selection {
    color: black;
    background: #EFCA08;
}

a {
    color: #08415C !important;
}

pre, code {
    border: none !important;
    background-color: #D9DCD6 !important;
}

.h2-divider {
    border-top-color: #08415C !important;
}

.site-header, .site-footer {
    background-color: #08415C;
    color: #D9DCD6 !important;
    a:active, a:hover {
        color:#EFCA08 !important;
    } a {
        color: #D9DCD6 !important;
    }
}

.site-footer {
    .h2-divider {
        border-top-color: #EFCA08 !important;
    }
}

.svg-icon {
    fill: #D9DCD6 !important;
    :active, :hover {
        fill: #EFCA08;
    } 
}

@media screen and (max-width: 600px) { .site-nav {
    background-color: #08415C !important;
    .menu-icon > svg {
        fill: #D9DCD6 !important;
    }
    border-color: #D9DCD6 !important;
}}