$background-color: white; 
$text-color: black; 
$light-color: #D9DCD6;
$grey-color: #646E78;
$accent-color: #EFCA08;
$theme-color: #08415C;

::-moz-selection { 
    color: $text-color;
    background: $accent-color;
}
  
::selection {
    color: $text-color;
    background: $accent-color;
}

a {
    color: $theme-color !important;
}

pre, code {
    border: none !important;
    background-color: $light-color !important;
}

h2 a {
    color: $text-color !important;
}

h2:after {
    background: $theme-color;
}

.site-footer {
    background-color: $theme-color;
    color: $light-color !important;
    a:active, a:hover {
        color:$accent-color !important;
    } a {
        color: $light-color !important;
    }
}

.site-header {
    background-color: $theme-color;
    color: $light-color ;
}

.page-link {
    color: $light-color !important;
}

.page-link:hover, .page-link:active {
    color:$accent-color !important;
}

.current-page {
    color:$accent-color !important;
}

.site-footer {
    h2:after {
        background: $accent-color;
    }
}

.svg-icon {
    fill: $light-color !important;
    :active, :hover {
        fill: $accent-color;
    } 
}

@media screen and (max-width: 600px) { .site-nav {
    background-color: $theme-color !important;
    .menu-icon > svg {
        fill: $light-color !important;
    }
    border-color: $light-color !important;
}}

.banner-text-1 {
    color: $light-color;
    background-color: $theme-color;
}

.banner-text-2 {
    color: $accent-color;
    background-color: $theme-color;
}

.post-image {
    background-color: $text-color;
}

.category-badge {
    background-color: $light-color;
    color: $text-color !important;
}

.category-badge:hover, .category-badge:active {
    background-color: $accent-color;
}

.post-meta {
    color: $grey-color !important;
}
