$base-font-family: Helvetica, sans-serif;

.site-header a {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none !important;
}

h2 {
    text-transform: uppercase;
    font-size: 2em !important;
    font-weight: 700 !important;
}