.social-links {
    text-align: right;
    float: right;
}

.svg-icon {
    padding-right: 0px !important;
    padding-left: 10px;
}

.site-header, .site-footer {
    border-top: none !important;
    border-bottom: none !important;
}

.site-logo {
    margin: 0.5em 0em;
    height: 2.5em;
    display: inline-block;
}

.site-nav {
    margin-top: 5.8165px; // Hacky fix for vertical alignment
}

@media screen and (max-width: 600px) { .site-nav {
    margin-top: 5.76665px; // Hacky fix for vertical alignment
}}

h2 {
    margin-bottom: 0.75em !important;
}

h2:after {
    position: absolute;
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    float: left;
    margin-top: 0.25em;
}

#banner-image {
    width: 100%;
    background-image: url("/assets/banner.webp");
    background-size: cover;
    height: 400px;
    background-position: 50% 35%;
    text-align: right;
}

.banner-text{
    margin-top: 3em;
}

.banner-text-1 {
    padding: 0em 0.1em;
}

.banner-text-2 {
    padding: 0em 0.1em;
}

@media screen and (max-width: 600px) { 
    #banner-image {
        height: 300px;
    }
    .banner-text{
        margin-top: 2.25em;
    }
}

.headshot {
    float: right;
    width: 30%;
    margin-left: 2em;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) { 
    .headshot{
        width: 40%;
        margin-left: 1em;
        margin-bottom: 0.5em;
    }
}

.resume {
    padding-bottom: 2em;
}

.resume:after {
    content: "";
    display: table;
    clear: both;
}

.resume-col-1 {
    float: left;
    width: 45%;
}
  
.resume-col-2 {
    float: right;
    width: 52.5%;
}

@media screen and (max-width: 600px) {
    .resume {
        padding-bottom: 1em;
    }
    .resume-col-1, .resume-col-2 {
        width: 100%;
    }
    .resume-col-1 {
        padding-bottom: 1em;
    }
    .resume-section {
        padding-bottom: 1em;
    }
}

.duration:before, .location:before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 5px;
}

.duration:before {
    background: url("/assets/calendar-alt-regular.svg") no-repeat;
}

.location:before {
    background: url("/assets/map-marker-alt-solid.svg") no-repeat;
}

.skill-list ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    list-style-type: none;
    margin: 0 0 1em 0;
}

@media screen and (max-width: 600px) {
    .skill-list ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

.post-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    margin: 0;
    li {
        border: 1px solid #D9DCD6;
        border-radius: 5px;
        display: inline-block;
        margin: 1em 0 0 0 !important;
    }
    img {
        border-radius: 5px 5px 0px 0px; 
    }
    img:hover, img:active {
        opacity: 0.7;
    }
}

@media screen and (max-width: 600px) {
    .post-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

.post-image {
    background-color: black;
    border-radius: 5px 5px 0px 0px; 
}

.post-description {
    padding: 10px;
}

.category-badge {
    background-color: #D9DCD6;
    color: black !important;
    border: none;
    border-radius: 5px;
    padding: 1px 5px;
    margin-right: 5px;
    font-size: 0.83em;
}

.category-badge:hover, .category-badge:active {
    background-color: #EFCA08;
    text-decoration: none;
}


.post-meta {
    color: #646E78 !important;
    font-size: 1em !important;
}

h1 {
    font-weight: 400 !important;
    font-size: 2em !important;
}

.post-cover {
    float: right;
    width: 40%;
    margin-left: 2em;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) { 
    .post-cover {
        width: 60%;
        margin-left: 1em;
        margin-bottom: 0.5em;
    }
}
