.h2-divider {
    width: 100px;
    display: block;
    margin-bottom: 1em;
    border: none;
    border-top-style: solid;
    border-top-width: 3px;
}

.footer-col-2 {
    text-align: right;
    float: right !important;
}

.site-footer {
    border-top: none !important;
}

