---
layout: default
---

<div>
  

  {% assign schools = site.schools | where: 'show', true | sort: 'order' | reverse %}

  {%- if schools.size > 0 -%}

    <h2>Education</h2>
    <div class="resume-section"> 
    {%- for school in schools -%}
      <div class="resume"> 
        <div class="resume-col-1">
            <h3>{{ school.title }}</h3>
            <a href="{{ school.link }}"><h4>{{ school.subtitle }}</h4></a>
            <div class="duration">{{ school.duration }}</div>
            <div class="location">{{ school.location }}</div>
        </div> 
        <div class="resume-col-2">
            {{ school.content }}
        </div>
      </div>
    {%- endfor -%}
    </div>
    
  {%- endif -%}


  {% assign jobs = site.jobs | where: 'show', true | sort: 'order' | reverse %}

  {%- if jobs.size > 0 -%}

    <h2>Experience</h2>
    <div class="resume-section"> 
    {%- for job in jobs -%}
      <div class="resume"> 
        <div class="resume-col-1">
            <h3>{{ job.title }}</h3>
            <a href="{{ job.link }}"><h4>{{ job.subtitle }}</h4></a>
            <div class="duration">{{ job.duration }}</div>
            <div class="location">{{ job.location }}</div>
        </div> 
        <div class="resume-col-2">
            {{ job.content }}
        </div>
      </div>
    {%- endfor -%}
    </div>

  {%- endif -%}
    
  
  {% assign skills = site.skills | where: 'show', true | sort: 'order' %}

  {%- if skills.size > 0 -%}

    <h2>Skills</h2>
    {%- for skill in skills -%}
      <h4>{{ skill.category }}</h4>
      <div class="skill-list">{{ skill.content }}</div>
    {%- endfor -%}
  {%- endif -%}


</div>