---
layout: default
---

<div>
  
  
  {% assign schools = site.schools | where: 'show', true | sort: 'order' | reverse %}

  {%- if schools.size > 0 -%}

    <h2>Education</h2>
    <div class="resume-section"> 
    {%- for school in schools -%}
      {{ school.output }}
    {%- endfor -%}
    </div>
    
  {%- endif -%}


  {% assign jobs = site.jobs | where: 'show', true | sort: 'order' | reverse %}

  {%- if jobs.size > 0 -%}

    <h2>Experience</h2>
    <div class="resume-section"> 
    {%- for job in jobs -%}
      {{ job.output }}
    {%- endfor -%}
    </div>

  {%- endif -%}
    
  
  {% assign skills = site.skills | where: 'show', true | sort: 'order' %}

  {%- if skills.size > 0 -%}

    <h2>Skills</h2>
    {%- for skill in skills -%}
      <h4>{{ skill.category }}</h4>
      <div class="skill-list">{{ skill.output }}</div>
    {%- endfor -%}
  {%- endif -%}


</div>