---
layout: with-banner
---

<div class="home">

  <h2><a href="{{ site.url | relative_url }}/about/">About</a></h2>
  
  <img class="headshot" src="{{ site.headshot }}" alt="Sketch of myself"> 

  <div class="post-content">
    
    To answer the burning question, my name is pronounced like the root crop, ginger. <br><br>
      
    I'm an undergrad at <a href="https://mit.edu/">MIT</a>, majoring in <b>Mechanical Engineering</b> 
    with a concentration in Controls, Instrumentation, and Robotics (Course 2A-6). I like building things, 
    and then making them to do stuff for me. Oh, and I like Japanese food. <br><br>
      
    I'm always on the lookout for any opportunity to learn new skills. 
    Feel free to <a href="{{ site.url | relative_url }}/#footer">reach out</a>!
    
  </div> 
  

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}

    <h2><a href="{{ site.url | relative_url }}/projects/">Projects</a></h2>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>