---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
  
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        &nbsp; {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
      {%- if page.categories -%}
        &nbsp; {% for category in page.categories %}
          <a class="category-badge" href="{{ site.url | relative_url }}/projects/{{ category | slugize }}">{{ category }}</a>
        {% endfor %}
    {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <img class="post-cover" src="{{ site.images }}{{ page.url }}cover.webp" alt="{{ page.title }} cover"> </img>
    {{ content }}
  </div>

  {% assign grids = site.grids | where_exp: "grid", "grid.path contains page.slug" | sort: 'slug' %}
  {%- if grids.size > 0 -%}
    <div class="grids"> 
    {%- for grid in grids -%}
      <h3>{{ grid.section }}</h3>
      {%- if grid.content -%}
        <div class="grid-content">{{ grid.content }}</div>
      {%- endif -%}
      <div class="grid">
        <ul> 
          {% capture grid-path %}{{ site.images }}{{ page.url }}{{ grid.slug }}{% endcapture %}
          {% for image in site.static_files %}
            {% if image.path contains grid-path %}
              <li><img src="{{ image.path }}" alt="{{ page.title }} {{ grid.slug }}"></img></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {%- endfor -%}
    </div>
  {%- endif -%}
  <a href="#header">Back to top</a>

</article>