---
layout: default
---

<div>
  {% for category_name in site.categories-order %}
    <div class="archive-group">      
      <div id="#{{ category_name | slugize }}"></div>
      <a name="{{ category_name | slugize }}"></a>
      <h2><a href="#{{ category_name | slugize }}">{{ category_name }}</a></h2>
      <ul class="post-list">
        {% assign posts = site.categories[category_name] | sort: 'date' | reverse %}
        {% for post in posts %}
        <li>
          <div class="post-image">
            <a href="{{ post.url | relative_url }}">
              <img src="{{ site.images }}/{{ post.url }}/cover.webp" alt="{{ post.title }} cover"></img>
            </a>
          </div>
          <div class="post-description">
            <h3> <a href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a> </h3>
            {%- if site.show_excerpts -%}
              <p>{{ post.excerpt | truncatewords: 12 }}</p>
            {%- endif -%}
          </div>
        </li>
        {%- endfor -%}
      </ul>
    </div><br>
  {% endfor %}
</div>